/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 2025/11/11, 13:29:58
    Author     : abi04
*/
h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0px; padding: 0px;}
h1{color: white}
body{
  display: flex; /* Flexboxを有効にする */
  justify-content: center; /* 主軸（横方向）で中央に配置 */
  align-items: center; /* 交差軸（縦方向）で中央に配置 */
  
  /* 画面全体を使うために最低限の高さと幅を設定 */
  min-height: 100vh; /* Viewportの高さの100%（画面の高さ）*/
  width: 100vw; /* Viewportの幅の100%（画面の幅）*/
  margin: 0; /* bodyのデフォルトマージンをリセット */
   
   
}
#container{
   height: 100vh;
   width: 30%;
   margin: auto;
   text-align: center;
   background: linear-gradient(0deg, lavenderblush 20%,Highlight 100%);
}
#text1{font-size:10px;
       margin: 0px;
       padding: 0px;}

#incontainer{
  width: 30%;
  margin: auto;
  justify-content: center;
  position: absolute;
  top: 30%; /* 上から50%の位置に移動 */
  
}